*{
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header_container{
    width: 100%;
    height: 40%;
    max-height: 40%;
}
.header_container img{
    width: 100%;
    height: 40%;
    max-width: 2160px;
}

.container{
    display: flex;
    height: 60%;
    max-height: 60%;
}
.left{
    background-color: antiquewhite;
    width: 25%;
    max-height: 60%;
}
.list-container{
    margin: 10px;
    background-color: brown;
    list-style: none;
}
.list-container ul li:hover{
    background-color: darkgreen;
    transition: 0.9s;
}
.menu-items{
    border-top: 0.2rem solid antiquewhite;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    color: aliceblue;
    font-weight: bold;
    font-size: large; 
    font-family: sans-serif;
}

.main-container{
    width: 80rem;
    height: 100%;
    max-height: 100%;
}
.menu-container{
    height: 3.5rem;
    max-height: 4rem;
    padding: 5px;
}
.menu{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    font-style: oblique;
    color: brown;
    padding-left: 0.8rem;
}
.contents{
    background-color:beige;
    border-bottom: 0.2rem solid brown;
    padding: 30px;
}
.menu-item a{
    display: flex;
}
.menu-item-row{
    display: flex;
    justify-content: space-around;
}
.category_name{
    color: brown;
    font-size: 2rem;
    font-weight: bold;
}
.category{
    font-size: large;
    margin: 2rem;
    color: black;
}
.footer{
    text-align: center;
}


