*{
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header_container{
    width: 100%;
    height: 40%;
    max-height: 40%;
   
}
.header_container img{
    width: 100%;
    height: 40%;
    max-width: 2160px;
}

.container{
    display: flex;
    height: 60%;
    max-height: 60%;
}
.left{
    background-color: antiquewhite;
    width: 25%;
}
.list-container{
    background-color: brown;
    list-style: none;
    margin: 10px;
}
.list-container ul li:hover{
    background-color: darkgreen;
    transition: 0.9s;
}
.menu-items{
    border-top: 0.2rem solid antiquewhite;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    color: aliceblue;
    font-weight: bold;
    font-size: large; 
    font-family: sans-serif;
}
.main-container{
    height: 100%;
    max-height: 100%;
    width: 80rem;
}
.application-container{
    height: 3.5rem;
    max-height: 4rem;
    padding: 5px;
}
.appliation{
    color: brown;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    font-style: oblique;
}
.form{
    background-color: beige;
}
.form1{
    padding: 30px;
    border: 5px solid black;
}
.form-container{
    padding-top: 1.5rem;
}
.category{
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.cv-container{
    display: flex;
}
.input{
    display: flex;
}
.surname{
    padding-left: 10rem;
}
.forename{
    padding-left: 9.6rem;
}
.title{
    padding-left: 11.8rem;
}
.address{
    padding-left: 10.5rem;
}
.email{
    padding-left: 11.4rem;
}
.nic{
    padding-left: 12.1rem;
}
.dob{
    padding-left: 8.5rem;
}
.checkboxes{
    padding-left: 7.8rem;
}
.nationality{
    padding-left: 9.4rem;
}
.school{
    padding-left: 8.5rem;
}
.qualification{
    padding-left: 9.2rem;
}
.time{
    padding-left: 9.6rem;
}
.footer{
    text-align: center;
}